<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<ul class="list-group">
			<app-product-item *ngFor="let product of products" [product]='product' (click)='onSelected(product)'></app-product-item>
		</ul>
	</div>
</div>