<li class="list-group-item">
	<div class="row">
		<div class="col-md-4">
			<img [src]="product.image_url" style="width:100px;height:100px">
		</div>
		<div class="col-md-8">
			<div class="row">
				<h4><b>{{product.title}}</b></h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h5>{{product.old_price}}</h5>
				</div>
				<div class="col-md-4">
					<h5>{{product.price}}</h5>
				</div>
				<div class="col-md-2">
					<button class="btn btn-small btn-success" (click)="addToCart(product)">Buy</button>
				</div>
			</div>
		</div>
	</div>
</li>