<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<li class="list-group-item" *ngFor="let item of cart">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<img [src]="item.image_url" style="width:60px;height:60px">
					</div>
					<div class="col-md-7 col-xs-7">
						<div class="row">
							<h5><b>{{item.title}}</b></h5>
						</div>
						<div class="row">
							<div class="col-md-5 col-xs-12">
								<h5>{{item.old_price}}</h5>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-2">
						<button style="margin-top: 3.3rem;background: none; color: red" (click)="deleteItem(product)">X</button>
					</div>
				</div>
			</li>
			<div class="row">
				<div class="col-md-offset-1 col-md-3 col-xs-offset-1 col-xs-4">
					<h4 style="color: green"><b>To pay:</b></h4>
				</div>
				<div class="col-md-offset-5 col-md-3 col-xs-offset-3 col-xs-4">
					<h4 style="color: green"><b>{{total}} kr</b></h4>
				</div>
				
			</div>
		</div>
	</div>
</div>